*{
  box-sizing: border-box;
}
.header{
  display: grid;
  background-color: #282c34;
  grid-template-columns: repeat(3, 1fr);
}

.header img{
  width: 200px;
  padding-left: 20px ;
  height: 80px;
  display: flex;
  flex-direction: column;
}
.title{
  color: #fff;
  text-align: center;
  padding-top: 15px;
  font-size: 30px;
}

.login a{
  display: inline-block;
  text-align: center;
  justify-content: center;
  float: right;
  color: white;
  padding: 20px 20px ;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.login a:hover{
  color: #63a780;
  cursor: pointer;
}
