*{
  box-sizing: border-box;
  background-color: #282c34;
}
.header{
  display: grid;
  background-color: #282c34;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px #b1b1b1 solid;
}

.header img{
  width: 200px;
  padding-left: 20px ;
  height: 80px;
  display: flex;
  flex-direction: column;
}
.title{
  color: #fff;
  text-align: center;
  padding-top: 15px;
  font-size: 30px;
}

.login a{
  display: inline-block;
  text-align: center;
  justify-content: center;
  float: right;
  color: white;
  padding: 20px 20px ;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.login a:hover{
  color: #63a780;
  cursor: pointer;
}


.container{
  display: block;
  text-align: center;
}

.myList-block{
  display: block;
  border-bottom: 1px #b1b1b1 solid;
}
.recom-block{
  display: block;
  color: cornsilk;
}

.myList-title{
  padding: 20px 10px;
  display: block;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
}
.reco-frame{
  display: grid;
  text-align: center;
  grid-template-columns: repeat(4, 1fr);
}
.Recommendation-div{
  text-align: center;
  border: 1px solid cornsilk;
}
.reco-title{
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}
.reco-img{
  padding-bottom: 20px;

}
.reco-title:hover {
  cursor:pointer;
  color: #63a780;
}
.reco-img:hover {
  cursor:pointer;
  color: #63a780;
}


